---
import { getCollection } from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

const awsAccounts = await getCollection('aws');
const sortedAccounts = awsAccounts.sort((a, b) => a.data.name.localeCompare(b.data.name));
---

<StarlightPage frontmatter={{ title: 'AWS Accounts', description: 'List of all AWS accounts in the organization' }}>
  <p>This page lists all AWS accounts managed in this repository.</p>

  <div style="margin-top: 2rem;">
    <table>
      <thead>
        <tr>
          <th>Organization</th>
          <th>Account</th>
          <th>Account ID</th>
          <th>Email</th>
          <th>SSO Role</th>
        </tr>
      </thead>
      <tbody>
        {sortedAccounts.map((account) => (
          <tr>
            <td>{account.data.org}</td>
            <td><a href={`./${account.id}/`}>{account.data.account}</a></td>
            <td><code>{account.data.id}</code></td>
            <td>{account.data.email}</td>
            <td>{account.data.sso_role}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
</StarlightPage>
